name: CI

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  actions: write
  contents: read

jobs:
  test:
    runs-on:
      labels: cuda
    strategy:
      matrix:
        julia-version: ['1']
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - uses: julia-actions/install-juliaup@v2
        with:
          channel: ${{ matrix.julia-version }}
      - name: Cache Julia artifacts
        uses: actions/cache@v3
      - name: Run tests
        shell: julia --project=. --color=yes {0}
        run: |
          using Pkg;
          Pkg.Registry.update()
          Pkg.test(; coverage=true)
      - uses: julia-actions/julia-processcoverage@v1
        with:
          directories: src
      - uses: codecov/codecov-action@v5
        with:
          file: lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}
